# Dependencias
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno local, para seguridad. 
.env
.env.local

# Archivos de build
.next/
out/

# Archivos del sistema operativo
.DS_Store